body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}
table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
}

.App {
  text-align: center;
  background: #fff;
  .allsongs {
    .react-autosuggest__container {
      position: relative;
      padding: 15px;
    }

    .react-autosuggest__input {
      width: 260px;
      height: 40px;
      padding: 10px 20px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      font-size: 16px;
      border: 1px solid #aaa;
      border-radius: 21px;
    }

    .react-autosuggest__suggestions-container {
      display: none;
    }
  }
  .songlisting {
    border: 1px solid #d6d6d6;
    padding: 0 5px;
    margin: 10px;

    a {
      display: flex;
      color: #000;
      text-decoration: none;
      padding-top: 15px;
    }
  }

  .playlists {
    display: flex;
    border: 2px solid #d6d6d6;
    margin: 20px 0;
    flex-wrap: wrap;
  }
}
.deletesong {
  border-radius: 21px;
  margin-left: 15px;
  max-height: 40px;
}
.addsong {
  border-radius: 21px;
  margin-left: auto;
  max-height: 40px;
}
.modal-content {
  .react-autosuggest__suggestions-list{
    display: none;
  }
  .react-autosuggest__container {
    padding: 15px;
    border-bottom: 1px solid #666;
    input {
      width: 260px;
      height: 40px;
      padding: 10px 20px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      font-size: 16px;
      border: 1px solid #aaa;
      border-radius: 21px;
    }
  }
}
.modal-footer {
  position: absolute;
  top: 0;
  right: 0;
  button {
    box-shadow: none;
    background: none;
    border: none;
  }
  i {
    color: #f40000;
    font-size: 24px;
  }
}
.modal-dialog {
  max-width: 800px;
}
